@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700;800;900&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

h1, h2, h3, h4, h5{
    font-family: 'Sansita Swashed', cursive;
}

body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
}

.navbar-inverse .navbar-brand{
    color: white;
}

.btn{
    color: white;
    background-color: red;
    margin-left: 60px;
    width: 500px;
}
button{
    color: white;
    background-color: red;
    margin-left: 60px;
}

.navbar-inverse{
    background-color: blue;
}

footer{
    background-color: purple;
    color: white;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

section#itemsInner{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

article#items{
    position: relative;
}

div.moreleft, div.moreright {
    position: absolute;
    height: 100%;
    width: 2em;
    background: rgba(255, 255, 255, .5);
    bottom: 0;
}

div.moreleft {
    left: 0;
}

div.moreright {
    left: 0;
}

.scrollleft, .scrollright {
    position: absolute;
    transform: scaleY(2);
    bottom: 50%;
    font-size: 1.2em;
    font-weight: 100;
    margin-left: 10px;
    margin-right: 10px;
}

.scrollleft{
    left: 0;
}

.scrollright{
    right: 0;
}

a.left-button, a.right-button {
    text-decoration: none;
    color: rgb(60, 60, 60);
}